* {
  box-sizing: border-box; }

*:focus {
  outline: 0; }

body, html {
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: 'Arial';
  background: white; }

a, a:hover, a:active {
  color: black;
  text-decoration: none; }

.mr-mainnav {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 40px;
  background: white;
  margin: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.2s ease-in-out; }

.mr-mainnav:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }

.mr-mainnav__item {
  padding: 10px;
  text-align: center;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  transition: all 0.2s ease-in-out; }

.mr-chatbox {
  -webkit-flex: 1 1 calc(100% - 60px);
  -ms-flex: 1 1 calc(100% - 60px);
  flex: 1 1 calc(100% - 60px);
  height: calc(100% - 60px);
  overflow-y: scroll; }

.mr-chatbox__message {
  margin: 0 50px 10px 0;
  background: #EE5F4E;
  border-radius: 8px;
  padding: 15px;
  position: relative; }

.mr-chatbox__message:after {
  position: absolute;
  display: block;
  content: '';
  width: 0;
  height: 0;
  right: -8px;
  bottom: 10px;
  border-style: solid;
  border-width: 5px 0 5px 10px;
  border-color: transparent transparent transparent #EE5F4E; }

.mr-chatbox__message--mine {
  text-align: right;
  background: #4393DC;
  margin: 0 0 10px 50px; }

.mr-chatbox__message--mine:after {
  left: -8px;
  border-width: 5px 10px 5px 0;
  border-color: transparent #4393DC transparent transparent; }

.mr-inputbox {
  -webkit-flex: 0 0 60px;
  -ms-flex: 0 0 60px;
  flex: 0 0 60px;
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.2s ease-in-out;
  margin-top: 10px; }

.mr-inputbox:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }

.mr-inputbox__input {
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  border: 0;
  padding: 0 20px; }

.mr-inputbox__button {
  border: 0;
  -webkit-flex: 0 1 20%;
  -ms-flex: 0 1 20%;
  flex: 0 1 20%; }

[ui-view] {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.2s ease-in-out;
  background: white;
  margin: 5px;
  padding: 20px;
  height: calc(100vh - 60px); }

ui-view {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.blink {
  -webkit-animation-name: example;
  animation-name: example;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate; }

@-webkit-keyframes example {
  from {
    box-shadow: 0 0px 0px transparent, 0 0px 0px transparent;
    background: white; }
  to {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    background: rgba(238, 95, 78, 0.1); } }

@keyframes example {
  from {
    box-shadow: 0 0px 0px transparent, 0 0px 0px transparent;
    background: white; }
  to {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    background: rgba(238, 95, 78, 0.1); } }

.mr-slider__container {
  position: relative;
  transition: all 1s ease-in-out;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.mr-slider__imgwrapper {
  width: 100%;
  height: 200px;
  text-align: center;
  border: 1px solid;
  background-size: cover; }

.mr-slider__wrapper {
  overflow-x: hidden;
  position: relative; }

.animate-repeat.ng-enter {
  transition: .5s;
  opacity: 0;
  max-height: 0px;
  overflow-y: hidden;
  -webkit-transform: scale(0);
  transform: scale(0); }

.animate-repeat.ng-enter-active {
  opacity: 1;
  max-height: 100px;
  -webkit-transform: scale(1);
  transform: scale(1); }
